body{

    margin: 0;
    padding: 0;
    background: url(mlue.jpg);
    background-size: cover;
    font-family: sans-serif;
}

.title{
    text-align: center;
    padding: 50px 0 20x;
}

h1{
    margin-bottom: 7px;
    padding: 20px;
    color: rgb(12, 22, 10);
    text-transform: uppercase;
    font-size: 45px;
    text-align: center  ;
    font-family: fantasy;
}

.container{
    width: 50%;
    height: 400px;
    background: rgb(189, 238, 193);
    margin: 0 auto;
    border: 2px solid white;
    box-shadow: 0 15px 100px rgb(2, 3, 17);
}

.right{
    float: right;
    width: 50%;
    height: 400px;
    background: url(oceann.jpg);
    background-size: cover;
    box-sizing: border-box;
}

.left{
    float: left;
    width: 50%;
    height: 400px;
    box-sizing: border-box;
}

.formBox{
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 400px;
    background: #eef3f7;
}

p{
    margin: 0;
    padding: 15px;
    font-weight: bold;
    color: black;
}

input{
    margin-bottom: 20px;
}

input[type = "text"],
input[type = "Password"]{
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    height: 40px;
}

input[type = "text"]:focus,
input[type = "Password"]:focus{
    border-bottom: 2px solid #262626;
}

input[type = "submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: white;
}

input[type = "submit"]:hover{
    background: black;
}

a{
    color: #262626;
    font-size: 12px;
    font-weight: bold;
}